/* FONT FACE */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("./font/Pretendard-Regular.woff");
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("./font/Pretendard-Bold.woff");
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("./font/Pretendard-ExtraBold.woff");
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("./font/Pretendard-Light.woff");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("./font/Pretendard-Medium.woff");
}

body {
  font-family: "Pretendard-Regular";
  margin: 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: "Pretendard-Regular";
}
